<!DOCTYPE html>
<html>
<body>
<div id="header" th:fragment="header">
<ul class="nav justify-content-center">
  <li class="nav-item">
 <a class="nav-link" href="../index">Home<span><i class="fas fa-home"></i></span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../cliente/mostrar">Cliente<span><i class="fas fa-user-circle"></i></span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="../producto">Producto<span><i class="fas fa-store"></i></span></a>
  </li>
</ul>
</div>
</body>
</html>