body{
background-image: url(../img/fondo_ciudad.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
}
.todo-index{
	display: blocK;
	text-align: center;
	margin-bottom: 5cm;
	margin-top: 1cm;
}
.form-group{
		   opacity: 90%;
		   padding: 10px;	  
}
.formulario-home{
  display: block; 
  border-radius: 1.2rem;
  opacity: 90%;
}
.formulario-home form button, .formulario-home form div input{
	margin: .2cm;
}

.titulo{
	color: white;
	background-color: #16A085 ;
	display: block;
	text-align: center;
    padding: 20px;
    margin-top: 10px;
    opacity: 99%;
    border-radius: .5rem;
}
.sub-titulo{
	color: white;
	background-color: #16A085 ;
	display: block;
	text-align: center;
    padding: 15px;
    margin-top: 30px;
    opacity: 99%;
    border-radius: .2rem;
}
.mb-3 span,input, select{
   font-size: 20px;
   opacity: 90%;
   	color: whitesmoke;
}

.form-control:focus{
	transition: .2s;
   background-color: #CACFD2;
   color: black;
   border-color: whitesmoke;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(0, 0, 0.092);

}
span{
	margin-left: 3px;
}
label{
	color: #fff;
	 font-size: 20px;
}
.formulario{
	margin-left: 3cm;
	margin-right: 3cm;
	margin-top: 1cm;
}
.agregar{
	background-color: #27AE60;
	transition: .1s;
	font-size: 20px;
	opacity: 80%;
}
.agregar:hover{
	background-color: rgb(66, 213, 129);
	font-size: 22px;
	transition: .2s;
	opacity: 90%;
}
.cabeza{
	background-color: #fff ; 
	  padding: .4cm;
}
.cabeza a{
	color: #333;
	transition: .4s;
	font-size: 17px;
}
.cabeza a:hover{
	color: white;
	background-color: #333;
		opacity: 80%;
	transition: .6s;	
}
.pie{
	background-color:#333;
    padding: .5cm;
    color: white;
    margin-top: 30px;
}

.table{
	background-color: whitesmoke;

}

.carta{
	margin-top: 1cm;
	background-color: #333;
	color: white;
	border-color: gray;
}
.carta-boton{
	background-color: #27AE60;
	transition: .1s;
	font-size: 20px;
	}
.carta-boton:hover{
	background-color: rgb(66, 213, 129);
	font-size: 22px;
	transition: .2s;
	opacity: 90%;
}
