body{
	background-image: url(../img/1691795.jpg);
	background-attachment: fixed;
}
.titulo{
	color: white;
	background-color: #16A085 ;
	display: block;
	text-align: center;
    padding: 20px;
    margin-top: 10px;
    opacity: 90%;
    border-radius: .2rem;
}
.sub-titulo{
	color: white;
	background-color: #16A085 ;
	display: block;
	text-align: center;
    padding: 15px;
    margin-top: 30px;
    opacity: 90%;
    border-radius: .2rem;
}
.mb-3 span,input, select{
   font-size: 20px;
   opacity: 90%;
   	color: whitesmoke;
}
span{
	margin-left: 3px;
}

label{
	color: #fff;
	 font-size: 20px;
	
}
.formulario{
	margin-left: 3cm;
	margin-right: 3cm;
	margin-top: 2cm;
}
.agregar{
	background-color: #27AE60;
	transition: .1s;
	font-size: 20px;
	opacity: 80%;
}
.agregar:hover{
	background-color: rgb(66, 213, 129);
	font-size: 22px;
	transition: .2s;
	opacity: 90%;
}
.cabeza{
	background-color: #fff ; 
	  padding: .4cm;
}
.cabeza a{
	color: #333;
	transition: .4s;
	font-size: 17px;

}
.cabeza a:hover{
	color: white;
	background-color: #333;
		opacity: 80%;
	transition: .6s;	
}
.pie{
	background-color:#333;
    padding: .5cm;
    color: white;
    margin-top: 30px;
}

.table{
	background-color: whitesmoke;

}
.navegador-chico{
	display: block;
	text-align: center;
	background-color: white;
	opacity: 70%;
}
.navegador-chico ul li a,.navegador-chico ul li span{
	text-decoration: none;
	font-size: 20px;
	color: black;
	padding: 1px;
	margin: 1cm;
}
.volver{
	color: white;
	background-color: gray;
	text-decoration: none;
	font-size: 20px;
	display: block;
	text-align: center;
	margin-left: 5cm;
	margin-right: 5cm;
	transition: 2s;
	border-radius: 1rem;
}
.volver:hover{
	color: gray;
	background-color: whitesmoke;
		transition: 1s;
	
}
.pre-volver{
	list-style: none;
}
.navegador-chico ul li a:hover{
		color: white;
	background-color: #333;
		opacity: 80%;
	transition: .6s;
	border-radius: .3rem;
}
.navegador-chico ul{
	list-style: none;
}