<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Titulo de pagina de César</title>
 <script src="https://kit.fontawesome.com/3a8a3eef38.js" crossorigin="anonymous"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css" href="../static/css/styles.css">

</head>
<body>
<div th:insert="layout/header :: header" class="cabeza"></div>
<div class="container">

<h1 class="titulo">Formulario de Carga de Cliente</h1>

<div class="form-group formulario">
	<form  id="formProducto" th:object="${unCliente}" th:action="@{/cliente/guardar}" method="post">
		  <div class="mb-3">
           <label for="nombreA" class="form-check-label" >Nombre y Apellido: </label> 
			<input type="text" id="nombreApellido" th:field="*{nombreApellido}" class="form-control">
          </div>
          
         <div class="mb-3">
            <label for="tipo" class="form-check-inline" >Tipo de Documento: </label> 
			<input type="radio" name="tipo" value="DNI" id="tipo" th:field="*{tipoDocumento}" class="form-check-input"><span>DNI</span>
			<input type="radio" name="tipo" value="Pasaporte" id="tipo" th:field="*{tipoDocumento}"class="form-check-input"><span>Pasaporte</span>
		
          </div>
          
		<div class="mb-3">
            <label for="numdoc" class="form-check-label" >Nro de Documento: </label> 
			<input type="number"	id="numdoc" th:field="*{nroDocumento}"class="form-control">
         </div>
          
          <div class="mb-3">
            <label for="fechanac"class="form-check-label" >Fecha de Nacimiento: </label>			
			<input type="date"	id="fechanac" th:field="*{fechaNacimiento}"class="form-control">
          </div>	
             
          <div class="mb-3">
   			<label for="fechaU" class="form-check-label" >Fecha de Ultima Compra: </label>			
			<input type="date"	id="fechaU" th:field="*{fechaUltimaCompra}" class="form-control">
          </div>
                    
          <div class="mb-3">
  			<label for="email" class="form-check-label" >E-mail: </label> 
			<input type="email" id="email" th:field="*{email}"class="form-control">
          </div>
              
          <div class="mb-3">
 			 <label for="password" class="form-check-label" >Contraseña: </label> 
			<input type="password" id="tipo" th:field="*{password}"class="form-control">
          </div>
          
          <div class="mb-3">
  			<label for="codigo" class="form-label" >Codigo de Area: </label> 
			<select id="codigo" th:field="*{codigoAreaTelefono}" class="form-select">
			<option value="388">388</option>
			<option value="351">351</option>
			<option value="11">11</option>
			<option value="370">370</option>
			</select>
          </div>
		
	
		  <div class="mb-3">
			<label for="numtel" class="form-check-label" >Telefono: </label> 
			<input type="number" id="numtel" th:field="*{numTelefono}"class="form-control">		
		  </div>
	   


		<div>
			<button type="submit" value="Agregar" class="btn agregar">Agregar <span><i class="far fa-paper-plane"></i></span></button>
		</div>

	</form>
</div>

<!-- ---------------------------------------------------------------- -->

<h3 class="sub-titulo">Lista de Clientes</h3>
			<div style="overflow: hidden">
			<div style="overflow:scroll">
				<table class="table">
				    <tr>
				      <th>Nro Documento:</th>
				      <th>Nombre y Apellido:</th>
				      <th>FechaNac:</th>
				      <th>Edad:</th>
				      <th>Fecha UltimaCompra</th>
				      <th>Tipo Documento:</th>
				      <th>Telefono Completo:</th>
				      <th>E-mail:</th>	
				       <th>Datos Adicionales </th>	       
				       			      
				    </tr>
					<tr th:each="cli : ${clientes}">
						<td th:text="${cli.nroDocumento}"></td>
						<td th:text="${cli.nombreApellido}"></td>
						<td th:text="${cli.fechaNacimiento}"></td>
						<td th:text="${cli.getEdad}"></td>
						<td th:text="${cli.fechaUltimaCompra}"></td>
						<td th:text="${cli.tipoDocumento}"></td>
						<td th:text="${cli.numTelefonoCompleto}"></td>
						<td th:text="${cli.email}"></td>		
						<td th:text="${cli.getDatosAdicionales}"></td>		
					
					</tr>
				</table>
			</div>
</div>
	</div>
	<div th:insert="layout/footer :: footer" class="pie"></div>	
	
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

</body>
</html>